:root {
  --text: hsl(92, 39%, 6%);
  --background: hsl(94, 41%, 97%);
  --primary: hsl(96, 98%, 52%);
  --secondary: hsl(96, 95%, 71%);
  --accent: hsl(158, 94%, 61%);
  --toggle-bg: hsl(53, 90%, 80%);
  --toggle-fg: hsl(53, 98%, 48%);
}
[data-theme="dark"] {
  --text: hsl(95, 40%, 94%);
  --background: hsl(100, 38%, 3%);
  --primary: hsl(96, 98%, 48%);
  --secondary: hsl(96, 95%, 29%);
  --accent: hsl(158, 94%, 39%);
  --toggle-bg: hsl(206, 88%, 84%);
  --toggle-fg: hsl(207, 54%, 52%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts Options */

/* p {
  font-family: "Roboto Slab", serif;
  font-family: "Quattrocento", serif;
  font-family: "Quattrocento Sans", sans-serif;
} */

body {
  font-family: "Quattrocento Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: "Roboto Slab", serif;
}

h2,
h3,
h4,
h5 {
  font-family: "Quattrocento", serif;
}

/* App styles */

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background);
  color: var(--text);

  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}

.container {
  max-width: 50rem;
  text-align: center;
  padding: 2rem;
}
.box-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: var(--text);
}
.box {
  width: 10rem;
  height: 10rem;
}
.box-1 {
  background-color: var(--primary);
}
.box-2 {
  background-color: var(--accent);
}
.box-3 {
  background-color: var(--secondary);
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2rem;
  margin-block: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
  margin-block: 2rem;
}
